name: codspeed

permissions: {}

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTUP_MAX_RETRIES: 10
  PACKAGE_NAME: ruff
  PYTHON_VERSION: "3.13"

jobs:
  # Taken from ci.yml, minor modifications
  benchmarks-instrumented-ruff:
    name: "benchmarks instrumented (ruff)"
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - name: "Checkout Branch"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: "Install Rust toolchain"
        run: rustup show

      - name: "Install codspeed"
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: cargo-codspeed

      - name: "Build benchmarks"
        run: cargo codspeed build --features "codspeed,instrumented" --no-default-features -p ruff_benchmark --bench formatter --bench lexer --bench linter --bench parser

      - name: Install valgrind
        run: |
          git clone https://github.com/CodSpeedHQ/valgrind-codspeed.git --branch cod-1573-v431-seems-to-cause-hangs
          cd valgrind-codspeed
          sudo apt-get install -y \
              build-essential \
              automake \
              autoconf \
              libc6-dev \
              gdb \
              docbook \
              docbook-xsl \
              docbook-xml \
              xsltproc
          ./autogen.sh
          ./configure
          make -j$(nproc)
          sudo make install

      - name: "Run benchmarks"
        uses: CodSpeedHQ/action@4348f634fa7309fe23aac9502e88b999ec90a164 # v4.3.1
        with:
          mode: instrumentation
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}

  benchmarks-instrumented-ty:
    name: "benchmarks instrumented (ty)"
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - name: "Checkout Branch"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: "Install Rust toolchain"
        run: rustup show

      - name: "Install codspeed"
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: cargo-codspeed

      - name: "Build benchmarks"
        run: cargo codspeed build --features "codspeed,instrumented" --no-default-features -p ruff_benchmark --bench ty

      - name: Install valgrind
        run: |
          git clone https://github.com/CodSpeedHQ/valgrind-codspeed.git --branch cod-1573-v431-seems-to-cause-hangs
          cd valgrind-codspeed
          sudo apt-get install -y \
              build-essential \
              automake \
              autoconf \
              libc6-dev \
              gdb \
              docbook \
              docbook-xsl \
              docbook-xml \
              xsltproc
          ./autogen.sh
          ./configure
          make -j$(nproc)
          sudo make install

      - name: "Run benchmarks"
        uses: CodSpeedHQ/action@4348f634fa7309fe23aac9502e88b999ec90a164 # v4.3.1
        with:
          mode: instrumentation
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}
