name: codspeed

permissions: {}

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  CARGO_INCREMENTAL: 0
  CARGO_NET_RETRY: 10
  CARGO_TERM_COLOR: always
  RUSTUP_MAX_RETRIES: 10
  PACKAGE_NAME: ruff
  PYTHON_VERSION: "3.13"

jobs:
  # Taken from ci.yml, minor modifications
  benchmarks-walltime:
    name: "benchmarks walltime (${{ matrix.benchmarks }})"
    runs-on: codspeed-macro
    strategy:
      matrix:
        benchmarks:
          - "medium|multithreaded"
          - "small|large"
    steps:
      - name: "Checkout Branch"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2

      - name: "Install Rust toolchain"
        run: rustup show

      - name: "Install codspeed"
        uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: cargo-codspeed

      - name: "Build benchmarks"
        run: cargo codspeed build --features "codspeed,walltime" --no-default-features -p ruff_benchmark

      - name: "Run benchmarks"
        uses: CodSpeedHQ/action@main
        env:
          CODSPEED_ENV: 1
          CODSPEED_LOG: debug
          CODSPEED_PERF_ENABLED: true
        with:
          mode: walltime
          run: cargo codspeed run --bench ty_walltime "${{ matrix.benchmarks }}"
          token: ${{ secrets.DEV_GUILLAUME_CODSPEED_TOKEN }}
          upload-url: ${{ secrets.DEV_GUILLAUME_CODSPEED_UPLOAD_URL }}
          runner-version: branch:cod-1595-collect-more-data-with-perf
